pkgbase = quickshell-share-picker
	pkgdesc = Quickshell screencast source picker for xdg-desktop-portal-hyprland
	pkgver = 0.1.2
	pkgrel = 2
	url = https://github.com/sam-saffron-jarvis/quickshell-share-picker
	install = quickshell-share-picker.install
	arch = any
	license = MIT
	checkdepends = shellcheck
	checkdepends = qt6-declarative
	depends = coreutils
	depends = python
	depends = quickshell
	optdepends = slurp: region selection
	optdepends = xdg-desktop-portal-hyprland: portal integration
	source = quickshell-share-picker-0.1.2.tar.gz::https://github.com/sam-saffron-jarvis/quickshell-share-picker/releases/download/v0.1.2/quickshell-share-picker-0.1.2.tar.gz
	sha256sums = 5fbe9989ebc1c332ef2d9bae8a117caa4c539458946bd238412d0b36416452e0

pkgname = quickshell-share-picker
