pkgbase = quickshell-share-picker
	pkgdesc = Quickshell screencast source picker for xdg-desktop-portal-hyprland
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/sam-saffron-jarvis/quickshell-share-picker
	arch = any
	license = MIT
	checkdepends = shellcheck
	depends = coreutils
	depends = python
	depends = quickshell
	optdepends = slurp: region selection
	optdepends = xdg-desktop-portal-hyprland: portal integration
	source = quickshell-share-picker-0.1.1.tar.gz::https://github.com/sam-saffron-jarvis/quickshell-share-picker/releases/download/v0.1.1/quickshell-share-picker-0.1.1.tar.gz
	sha256sums = f261a46b9dabfbdbc5628a4c20ceb5ce02b6f4249c998fe2b1f72d86118e7d7b

pkgname = quickshell-share-picker
